/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2c3e50;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #2c3e50
}

/* Estilo da lista de jogos */
#game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.game-card {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* largura total menos margens */
    max-width: 300px;
    text-align: center;
}

.game-card h3 {
    margin: 0 0 15px;
}

.play-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.play-btn:hover {
    background-color: #2c3e50;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    #game-list {
        padding: 10px;
    }

    .game-card {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    nav ul li a {
        padding: 8px 15px;
    }

    .play-btn {
        padding: 8px 12px;
    }
}
