body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

h2 {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos para a lista de download */
.download-list {
    list-style: none;
    padding: 0;
}

.download-item {
    background-color: #d9d9d9;;
    border: 1px solid #d9d9d9;;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    transition: transform 0.3s;
}

.download-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.year-title {
    font-size: 1.3em;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 8px;
}

.day-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10px;
}

.day-links a {
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.day-links a:hover {
    background-color: #0c5bb8;
}

/* Responsividade */
@media (max-width: 600px) {
    .day-links {
        flex-direction: column;
    }

    .day-links a {
        width: calc(100% - 20px);
        text-align: center;
        margin: 5px 1px;
    }
}